body {
	margin: 0;
	font-family: var(--theme-font-family-base);
	color: rgba(var(--theme-font-color-base));
	-webkit-font-smoothing: antialiased;
}
.dark body {
	color: rgba(var(--theme-font-color-dark));
}
.body-wrapper {
	margin-bottom: max(2rem, env(safe-area-inset-bottom));
}
