@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
	$primary: #ffffff,
	$secondary: #10131f,
	// faded-primary
	$surface: #ffffff7c
);
